/* Image.css */
.image-container {
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    overflow: hidden; /* Hide overflowing content */
    border-radius: 10%; /* Make it a circle */

  }
  
  .image-container img {
    width: 100%; /* Make the image fill its container */
    height: 100%; /* Make the image fill its container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  